{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_context %}
<div class="row">
    <div class="col-md-12 text-center">
        <h1>{{title}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <!-- Empty column -->
    </div>
    <div class="col-sm-4 my-form">
        {{ wtf.quick_form(form) }}
        <p>
            New here? <a href="{{ url_for('register') }}">Register</a>.
        </p>
    </div>
    <div class="col-sm-4">
        <!-- Empty column -->
    </div>
</div>
{% endblock %}

{{ form.csrf_token }}
                    {{ form.hidden_tag() }}
                    {{ form.image(accept="image/*", id="fileInput", multiple="multiple") }}
                    <p class="text-center">Drag your files here or click in this area.</p>
                    <button type="submit" class="btn btn-primary btn-block">Upload</button>
                    <!-- Image element to display selected image -->
                    <img id="preview-image" src="#" alt="Preview Image" style="display: none;" class="img-fluid mt-3">
                    <span id="file-text" class="d-block text-center mt-2">No file chosen</span>
                    <div class="text-danger">{{ form.image.errors }}</div>