{% extends 'base.html' %}
{% block title %}Welcome{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">Plant Disease Detection</h3>
                    <p class="card-text text-center">
                        The detected disease is - <b>{{ corrected_result }}</b>
                    </p>
                    <div class="text-center mt-4">
                        <img src="{{ url_for('static', filename='disease_images/' + corrected_result + '.jpg') }}" class="img-fluid" style="max-width: 400px;" alt="Detected Disease Image">
                    </div>
                    <div class="mt-4">
                        <h4 class="text-center">Symptoms:</h4>
                        <p class="text-center">Add symptoms of {{ corrected_result }} here.</p>
                    </div>
                    <div class="mt-4">
                        <h4 class="text-center">Causes:</h4>
                        <p class="text-center">Add causes of {{ corrected_result }} here.</p>
                    </div>
                    <div class="mt-4">
                        <h4 class="text-center">Preventive Measures:</h4>
                        <p class="text-center">Add preventive measures for {{ corrected_result }} here.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
